<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- START : header -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/admin_nutri_edit.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>관리자 영양제 추가</title>
</head>

<body>
  <div id="header-placeholder"></div>

  <div class="admin_nutri_add">
    <h1>영양제 추가</h1>
    <form action="/admin/nutri_add" method="POST" enctype="multipart/form-data">
      <table>
        <tbody>
          <tr>
            <td>분류 코드:</td>
            <td>
              <input type="text" id="idx_check" name="idx" placeholder="내용을 입력해주세요" th:value="${idx}" />
<!--               <button onclick="checkDupliicate()">중복확인</button> -->
            </td>
            <td>이름:</td>
            <td>
              <input type="text" name="name" placeholder="내용을 입력해주세요" th:value="${name}" />
            </td>
          </tr>
          <tr>
            <td>구분:</td>
            <td>
              <input type="text" name="category" placeholder="내용을 입력해주세요" th:value="${category}" />
            </td>
            <td>제조사:</td>
            <td>
              <input type="text" name="company" placeholder="내용을 입력해주세요" th:value="${company}" />
            </td>
          </tr>
          <tr>
            <td>성상:</td>
            <td>
              <input type="text" name="shpae" placeholder="내용을 입력해주세요" th:value="${shape}" />
            </td>
            <td>주성분:</td>
            <td>
              <input type="text" name="base" placeholder="내용을 입력해주세요" th:value="${base}" />
            </td>
          </tr>
        <tr>
          <td>복용법:</td>
          <td colspan="2" class="textarea-row">
            <textarea name="taking" placeholder="내용을 입력해주세요" th:value="${taking}"></textarea>
          </td>
        </tr>
        </tbody>
        <tr>
          <td>효능:</td>
          <td colspan="2" class="textarea-row">
            <textarea name="effect" placeholder="내용을 입력해주세요" th:value="${effect}"></textarea>
          </td>
        </tr>
        <tr>
          <td>주의사항:</td>
          <td colspan="2" class="textarea-row">
            <textarea name="caution" maxlength="500" placeholder="내용을 입력해주세요" th:value="${caution}"></textarea>
          </td>
        </tr>
        <tr>
          <td>보관방법:</td>
          <td colspan="2" class="textarea-row">
            <textarea name="storage" maxlength="500" placeholder="내용을 입력해주세요" th:value="${storage}"></textarea>
          </td>
        </tr>
        <tr>
          <td>제품형태:</td>
          <td colspan="2" class="textarea-row">
            <textarea name="type" maxlength="500" placeholder="내용을 입력해주세요" th:value="${type}"></textarea>
          </td>
        </tr>
        </tbody>
        <tr>
          <td>이미지 첨부:</td>
          <td><input type="file" name="file" accept="image/*" th:value="${image}" /></td>
        </tr>
      </table>
      <div class="button-row">
        <input type="button" class="cancel" value="취소" onclick="location.href='/admin/nutri_list'" />
        <input type="submit" class="check" value="확인" />
      </div>
    </form>
  </div>
  <div id="footer-placeholder"></div>
  <script th:src="@{/js/hf.js}"></script>
<!--   <script>
    function checkDupliicate() {
      var idx_check = document.getElementById('idx_check').value;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/checkDuplicate', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          var message;
          if (response.duplicated) {
            message = '이미 존재하는 분류코드 입니다.';
          } else {
            message = '사용 가능한 분류코드 입니다.';
          }
          alert(message);
        }
      };
      xhr.send(JSON.stringify({idx_check: idx_check }))
    }
  </script> -->
</body>

</html>