@charset "UTF-8";

/* Defuault settings */
h1,
h2,
h3,
h4,
h5,
a {
  font-size: 16px;
  line-height: normal;
  font-weight: 100;
  text-decoration: none;
  color: #000;
}

/* Container */
.container-lg {
  text-align: center;
}

/* Semi title */
.container-lg h2 {
  font-size: 42px;
  font-weight: 400;
}

/* Second SearchBar */
#button-addon2 {
  border: 1px solid #dee2e6;
  color: #00997b;
}

#button-addon2:hover {
  background-color: #00997b;
  color: #fff;
}

/* admin_nutri_list */
.product_table {
  width: 75%;
  margin: 0 auto;
}

.product_table .add {
  text-align: right;
}

.product_table .add .add_btn {
  width: 65px;
  height: 25px;
  line-height: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.table th:first-of-type {
  border-right: 1px solid #ddd;
}

.user_menu {
  width: 160px;
  height: 160px;
  background-color: #fefefe;
  border: 1px solid #eee;
  justify-content: center;
  justify-items: center;
  border-radius: 20px;
  line-height: 60px;
  box-shadow: 5px 10px 15px #bbb;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
