.body{
  min-height: calc(100vh - 100px);
  margin: 30px;
  width: 500px;
}
.body_main_size img{
  display: flex;
  margin: 150px auto;
  width: 250px;
}
#reset_pwd{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border: 4px solid #00997B ;
  border-radius: 10%;
  margin-bottom: 10%;
}
#reset_pwd form h1{
  font-size: 30px;
  margin-bottom: 10%;
  text-align: center;
}

#reset_pwd form p{
  font-size: 18px;
  margin-bottom: 10%;
  text-align: left;
}
#reset_pwd form .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reset_pwd form .info input {
  width: 80%;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 16px;
}

#reset_pwd form .info button {
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #00997B;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
