/* CSS style sheet */

.banner {
  position: relative;
  text-align: center;
  margin-top: 150px;
}

.banner img {
  width: 500px;
  object-fit: cover;
  text-align: left;
}

.banner div {
  font-size: 40px;
  object-fit: cover;
  border: 30px, 300px, 300px solid white;
  margin: 3%;
}

.banner p {
  font-size: 20px;
}

.body {
  min-height: calc(10vh - 10px);
}

.container {
  text-align: center;
  margin: 5%;
}

.container #main_contens {
  display: flex;
  margin-left: 30%;
}

#main_contens img {
  width: 350px;
}

.container #main_contens .main_context #sle1 {
  margin-right: 60%;
  font-size: 45px;
  position: absolute;
  /* padding-right: 50%; */
  animation-name: slides;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.container #main_contens .main_context button {
  margin: 50px;
  color: #fff;
  border: 1px solid #00997B;
  text-decoration: none;
  text-align: center;
  background-color: #00997B;
  width: 120px;
  height: 50px;
  line-height: 40px;
  border-radius: 4%;
  font: 20px bold;
}

#icon:checked+label+#in_navi {
  position: fixed;
}

#icon+label+#in_navi {
  position: fixed;
  /* Other styles... */
  left: -300px;
  z-index: 1;
  transition: all 0.35s;
}

#icon:checked+label+#in_navi {
  left: 0px;
  position: fixed;
}

#in_navi ul li a {
  font-size: 21px;

}

@keyframes slides {
  from {
    left: 10%;
    opacity: 0;
  }

  to {
    left: 20%;
    opacity: 1;
  }

}

@keyframes outslide {
  from {
    left: 20%;
    opacity: 1;

  }

  to {
    left: 10%;
    opacity: 0;
  }
}

