footer {
	background-color: #fff;
	padding: 20px;
	text-align: center;
}
footer img{
	width: 25px;
	transform: rotate(45deg);
}

footer::before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: gray;
	margin-top: 10px;
	margin-bottom: 10px;
}