* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.nav {
  margin: 3% auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#checkbox {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[id="icon"] {
  display: none;
}

input[id="icon"]+label {
  position: absolute;
  display: block;
  margin: 30px;
  height: 40px;
  cursor: pointer;
  /* 커서를 올려놓을 때 모양이 바뀐다. */
}

input[id="icon"]+label>span {
  position: absolute;
  display: block;
  width: 50px;
  ;
  height: 5px;
  border-radius: 30px;
  background: #00997B;
  transition: all 0.35s;
  /* 진행되는 과정들을 천천히 보여줄 수 있다. 0.35초 동안 진행됨 */
  z-index: 2;

}

input[id="icon"]+label>span:nth-child(1) {
  top: 0px;
}

input[id="icon"]+label>span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  /* 엘리먼트를 변형할 때 쓴다. 비틀거나 구부리거나 돌릴 때 . 여러가지로 모양을 바꿀 때 */
}

input[id="icon"]+label>span:nth-child(3) {
  bottom: 0px;
}


input[id="icon"]:checked+label>span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

input[id="icon"]:checked+label>span:nth-child(2) {
  opacity: 0;
}

input[id="icon"]:checked+label>span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

#icon+label+#in_navi {
  position: fixed;
  /* 스크롤을 내리더라도 같은 위치에서 붙어다닌다. */
  width: 200px;
  height: 100%;
  background: gray;
  top: 150px;
  padding: 60px 25px 25px 25px;
  box-sizing: border-box;
  left: -300px;
  z-index: 1;
  transition: all 0.35s;
}

#icon:checked+label+#in_navi {
  left: 0px;
}

#icon:checked+label+#in_navi>ul>li>a {
  color: white;
  font: 20px bold ;

}

#logo {
  width: 10%;
  margin-right: auto;
}

.nav-link img {
  max-width: 50%;
  height: auto;
}

#search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 5px 5px 5px 2px rgb(94, 94, 94);
  transition: top 0.3s;
}

#search-bar input {
  flex: 1;
  height: 30px;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: left;
  /* 왼쪽 정렬 */
}

#search-bar button {
  background: url(../img/search.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  color: #fff;
  border: none;
  cursor: pointer;
}


#util {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}

#util a {
  color: #00997B;
  border: 3px solid #00997B;
  margin-left: 10px;
  width: 120px;
  height: 50px;
  line-height: 40px;
  text-decoration: none;
  border-radius: 4%;
  text-align: center;
  font: 20px bold;
}

#util #logoin,
#util #signup,
#util #mypage,
#util #logout {
  color: #00997B;
  border: 3px solid #00997B;
  margin-left: 10px;
  width: 120px;
  height: 60px;
  line-height: 55px;
  text-decoration: none;
  border-radius: 4%;
  text-align: center;
}

#util #signup {
  color: #fff;
  background-color: #00997B;
}

#util #logout {
  color: #fff;
  background-color: #00997B;
}

#util #logoin:hover,
#util #mypage:hover {
  background-color: rgb(69, 181, 170);
  color: #fff;
}

#util #signup:hover,
#util #logout:hover {
  background-color: #fff;
  color: rgb(69, 181, 170);
}