/* CSS style sheet */
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.banner {
  position: relative;
  text-align: center;
  margin-top: 150px;
}

.banner img {
  width: 500px;
  object-fit: cover;
  text-align: left;
}

.banner div {
  font-size: 40px;
  object-fit: cover;
  border: 30px, 300px, 300px solid white;
  margin: 3%;
}

.banner p {
  font-size: 20px;
}

.body {
  min-height: calc(10vh - 10px);
}

.container {
  text-align: left;
  margin: 5%;
}

.container #main_contens {
  display: flex;
  margin-left: 30%;
  margin-bottom: 10%;
  font: 15px bold;
  position: static;
  width: 50%;
  /* animation-name: slides;
  animation-duration: 1s;
  animation-fill-mode: forwards; */
}

#main_contens img {
  width: 240px;
}

#banner {
  /* width: 30%; */
}

#banner a button {
  color: #fff;
  border: 1px solid #00997B;
  text-decoration: none;
  text-align: center;
  background-color: #00997B;
  width: 30%;
  height: 50px;
  line-height: 40px;
  border-radius: 4%;
  font: 20px bold;
}

.container #main_contens .main_context {
  margin-bottom: 10%;
  font: 15px bold;
  position: static;
  width: 50%;
  animation-name: slides;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* .container #main_contens .main_context button:hover {
  border: 1px solid #00997B;
  background-color: #fff;
  color: #00997B;
  
} */
#banner button:hover {
  border: 1px solid #00997B;
  background-color: #fff;
  color: #00997B;

}

#icon:checked+label+#in_navi {
  position: fixed;
}

#icon+label+#in_navi {
  position: fixed;
  /* Other styles... */
  left: -300px;
  z-index: 1;
  transition: all 0.35s;
}

#icon:checked+label+#in_navi {
  left: 0px;
  position: fixed;
}

#in_navi ul li a {
  font-size: 21px;

}

/* @keyframes slides {
  from {
    left: 7%;
    opacity: 0;
  }
  
  to {
    left: 15%;
    opacity: 1;
  }
  
}

@keyframes outslide {
  from {
    left: 15%;
    opacity: 1;
    
  }
  
  to {
    left: 7%;
    opacity: 0;
  }
} */
/* .container #main_contens .main_context button {
  left: 10%;
  bottom: -200px;
  color: #fff;
  border: 1px solid #00997B;
  text-decoration: none;
  text-align: center;
  background-color: #00997B;
  width: 100%;
  height: 50px;
  line-height: 40px;
  border-radius: 4%;
  font: 20px bold;
} */