@charset "UTF-8";

/* Defuault settings */
h1,
h2,
h3,
h4,
h5,
a {
  font-size: 16px;
  line-height: normal;
  font-weight: 100;
  text-decoration: none;
  color: #000;
}

/* Container */
.container-lg {
  text-align: center;
}

/* Semi title */
.container-lg h2 {
  font-size: 42px;
  font-weight: 400;
}


.user_menu_list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.user_menu {
  width: 160px;
  height: 160px;
  background-color: #fefefe;
  border: 1px solid #eee;
  justify-content: center;
  justify-items: center;
  border-radius: 20px;
  line-height: 60px;
  box-shadow: 5px 10px 15px #bbb;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

.user_menu_list .user_menu:hover {
  scale: 1.1;
  box-shadow: 7px 15px 20px #ddd;
  transition: 0.25s;
}