@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: NanumSquareNeo-Variable;
  margin: 100px;
}

h1 {
  top: 10%;
  font: 30px bold;
  text-align: center;
}

.admin_nutri_add {
  margin: 100px;
}

.admin_nutri_edit {
  margin: 100px;
}


table {
  margin: auto;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}

.textarea-row {
  width: 60%;
}

.input-row input[type="text"],
.textarea-row textarea {
  width: 100%;
  padding: 5px;
}

#checkIdxButton {
  font: 14px bold !important;
  background-color: rgb(10, 78, 124) !important;
  border: 4px solid rgb(10, 78, 124) !important;
  border-radius: 4px !important;
  color: #fff !important;
}


.button-row {
  margin-top: 20px;
  text-align: center;
}

.button-row input[type="button"],
.button-row input[type="submit"] {
  padding: 10px 36px;
  font: 17px bold;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-right: 25px;
}


.button-row .cancel {
  font-family: 'NanumSquareNeo-Variable' !important;
  border: 1px solid #4c5554;
  background-color: #4c5554;
  color: #fff;
}

.button-row .check {
  font-family: 'NanumSquareNeo-Variable' !important;
  border: 1px solid #00997B;
  background-color: #00997B;
  color: #fff;
}

.button-row .delete {
  font-family: 'NanumSquareNeo-Variable' !important;
  background-color: rgb(212, 26, 26);
  border: 1px solid rgb(212, 26, 26);
  color: #fff;
}



