.body {
  min-height: calc(100vh - 100px);
  margin: 30px;
  width: 500px;
}

.location {
  text-align: left;
  margin: 100px;
}

#nutri_main{
  text-align: center;
  margin: 100px;
}

.nutri_product {
  margin: 20%;
  margin-top: 10%;
}

.nutri_product img {
  width: 240px;
}

.nutri_product table {
  display: flex;
  align-items: center;
}

.nutri_product table td {
  margin-left: 10px;
}

.nutri_product table td button {
  display: flex;
  justify-items: flex-start;
}
.like-button{
  border: 10px white;
}
.like-button img{
  width: 40px;
}
.non-like-button{
  border: 10px white;
}
.non-like-button img{
  width: 40px;
}