
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.body {
  min-height: calc(100vh - 100px);
  margin: 30px;
  width: 500px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.01rem;
  margin-top: 40px !important;
  margin-left: 80px;
  margin-bottom: 50px;

}

/* rtl:end:remove */


/* nutri_about
------------------------- */

.nutri_about li {
  font-size: 32px;
  margin-left: 110px;
  margin-bottom: 20px;
}

.col-md-5 {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.heart-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 10px;
  font-size: 38px;
  color: #fff;
  cursor: pointer;
}

.heart-button i {
  transition: color 0.3s ease;
}

.heart-button.active i {
  color: rgba(255, 0, 0, 0.719);
}

.nutri_index {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 150px;
}

.nutri_index h3 {
  line-height: 2;
}












/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 42px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}