<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <div id="header-placeholder"></div>
    <div class="container-lg">
      <div class="login_form_title">

        <h2>로그인</h2>
      </div>
      <div class="login_form">
        <form action="/login" method="POST">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input
              type="email"
              class="form-control"
              placeholder="이메일을 입력해주세요"
              aria-label="Username"
              aria-describedby="basic-addon1"
              name="user_email"
            />
          </div>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon2">@</span>
            <input
              type="password"
              class="form-control"
              placeholder="비밀번호를 입력해주세요"
              aria-label="Username"
              aria-describedby="basic-addon2"
              name="user_pwd"
            />
          </div>
          <div>
            <button type="submit" class="login_btn">로그인</button>
          </div>
          <div class="options">
            <a href="/user/find_pwd">비밀번호 찾기</a>
            <a href="/join">가입하기</a>
          </div>
        </form>
      </div>
    </div>
    <div id="footer-placeholder"></div>
    <script>
      fetch('/header.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('header-placeholder').innerHTML = html;
        });
  
      fetch('/footer.html')
        .then(response => response.text())
        .then(html => {
          document.getElementById('footer-placeholder').innerHTML = html;
        });
    </script>
  </body>
</html>
